<div class="row">
    <div class="col-md-12">
        <legend>{{title}}</legend>
        <form role="form" name="myForm" class="form-horizontal">
            <div class= "form-group" ng-class="{
                        error: myForm.name.$invalid
                    }">
                <label class= "col-md-2"> Name </label>
                <div class="col-md-4">
                    <input name="name" ng-model="bom.name" type= "text" class= "form-control" placeholder="Name" required/>
                    <span ng-show="myForm.name.$dirty && myForm.name.$invalid" class="help-inline">*Required</span>
                </div>
            </div>

            <div class= "form-group">
                <label class= "col-md-2"> Customer </label>
                <div class="col-md-4">
                    <input name="customer" ng-model="bom.customer" type= "text" class= "form-control" placeholder="Customer"/>
                </div>
            </div>

            <div class= "form-group">
                <label class= "col-md-2"> Created </label>
                <div class="col-md-4">
                    <input name="created" ng-model="bom.created" type= "text" class= "form-control" placeholder="Created"/>
                </div>
            </div>

            <div class= "form-group">
                <label class= "col-md-2"> BOM List Number </label>
                <div class="col-md-4">
                    <input name="bom_list_number" ng-model="bom.bom_list_number" type= "text" class= "form-control" placeholder="BOM List Number"/>
                </div>
            </div>

            <div class= "form-group">
                <label class= "col-md-2"> Project Number </label>
                <div class="col-md-4">
                    <input name="project_number" ng-model="bom.project_number" type= "text" class= "form-control" placeholder="Project Number"/>
                </div>
            </div>

            <div class= "form-group">
                <label class= "col-md-2"> Product Number </label>
                <div class="col-md-4">
                    <input name="product_number" ng-model="bom.product_number" type= "text" class= "form-control" placeholder="Product Number"/>
                </div>
            </div>

            <div class= "form-group">
                <label class= "col-md-2"></label>
                <div class="col-md-4">
                    <a ng-href="#/" class="btn btn-default">Cancel</a>
                    <button ng-click="saveBom(bom);" 
                            ng-disabled="isClean() || myForm.$invalid"
                            class="btn btn-primary">{{buttonText}}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12" ng-show="bom._id > 0">
                <legend>Part List</legend>
                <a ng-href="#/bom/detail/{{bom._id}}/add-parts" class="btn btn-default bottom-space">Add Parts</a>
                <br>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>No</th>
                        <th>Part Id</th>
                        <th>Quantity</th>
                    </tr>
                    <tr ng-repeat="data in bom.partList">
                        <td>{{$index + 1}}</td>
                        <td>{{data.id}}</td>
                        <td>{{data.qty}}</td>
                    </tr>
                    <tr ng-show="bom.partList.length == 0">
                        <td colspan="100">
                            <div class="col-md-12" >
                                <div class="col-md-12">
                                    <h4 class="text-muted">No data</h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
</div>


