<div class="row">
    <div class="col-md-12">
        <legend>Part List</legend>
        <a class="btn btn-primary btn-default bottom-space" href="#/part-detail/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add New Part</a>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <th style="width:1%">No</th>
                <th>Item Code</th>
                <th>Description</th>
                <th class="th-action">Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="data in partList">
                        <td>{{$index + 1}}</td>
                        <td>{{data.itemCode}}</td>
                        <td>{{data.description}}</td>
                        <td class="text-center"><a href="#/part-detail/{{data.id}}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a>
                            <a class="btn btn-danger btn-xs" ng-click="deletePart(data)"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete</a></td>
                    </tr>
                    <tr ng-show="partList.length == 0">
                        <td colspan="100">
                            <div class="col-md-12" >
                                <div class="col-md-12">
                                    <h4 class="text-muted">No data</h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>